

/*
=====Header======================================
*/

header {
    background-color: #ffffff;
    color: #4aaaa5;   
    font-family: "Georgia", Times, Times New Roman, serif;
    border-bottom: 3px solid #cccccc;
    height: 55px; 
}


a {
    color: #4aaaa5;
    text-decoration: none;
    padding: 0px 10px 0px 0px;
    margin: 0px 0px 0px 5px;
    border-right: 2px solid gainsboro;
    
}
a:hover {
    background-color: rgb(0, 255, 98);
}

#end-contact {
    border-right: none;
}

.header-container {
    position: relative;    
    width: 960px;
    margin: auto; 
}
.anchors {
    position: absolute;
    width: 300px;
    text-align: right;
    top: 20px;   
    right: 0;
     
    
}
.header-box {
    float: left;
    box-sizing: border-box;
    color: #ffffff;
    background: #4aaaa5;
    padding: 10px;
    width: 250px;
    text-align: center;
    border-bottom: none;

}   
h1 {
    clear: both;
    font-size: 200%;
    color: #4aaaa5;
    border-bottom: 2px solid gainsboro;
    margin-bottom: 30px;
}
/*
=====Custom Styles===============================
*/

body { 
    background-image: url(../images/light-grey-terrazzo/light-grey-terrazzo.png);
    line-height: normal;
}
.container,
.photo-container,
.contact-container {
    width: 960px;
    margin: auto;
    margin-top: 30px;
}


#bio-image {
    float: left;
}

#main-bio {
    clear: both;
    background: #ffffff;
    padding: 20px;
    overflow: auto;
}

#main-bio h1 {
    padding-bottom: 20px;
    border-bottom: 2px solid gainsboro;
}
#bio-info {
    margin-top: 20px;
}

#bio-image {
    margin-right: 20px;
    margin-bottom: 20px;
}

#images {
    background: #ffffff;
    padding: 20px;
}
#images h1 {
    padding-bottom: 20px;
}
#main-bio p {
    padding-top: 0;
}


/*
=====Footer======================================
*/

.primary-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    border-top: 5px solid #4aaaa5;
    padding: 20px 0px 20px 0px;
}
.primary-footer-1 { 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    border-top: 5px solid #4aaaa5;
    padding: 20px 0px 20px 0px;
}

/*
=====Typography==================================
*/
p,
.anchors,
.primary-footer,
#form {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;

}

/*
=====Portifolio==================================
*/


.row:after {
    content: "";
    display: table;
    clear: both;
}
.pic {
    position: relative; 
    margin-bottom: 10px;  
}
.pic-2 {
    position: relative;
    margin-bottom: 10px;
}
.pic-3 {
    position: relative;
    margin-bottom: 10px;
}
.pic-4 {
    position: relative;
    margin-bottom: 10px;
}
.pic-5 {
    position: relative;
    margin-bottom: 10px;
}
.pic-6 {
    position: relative;
}
.text-block {
    position: absolute;
    text-align: center;
    background-color:#4aaaa5;
    color: white;
    padding: 10px 0px 10px 0px;
    bottom: 5%;
    margin: 0px;
    width: 200px;
}
.column-1-6 {
    width: 50%;
    display: inline-block;
}
.column-2-6 {
    width: 50%;
    float: right;

}

/*
=====Contact=====================================
*/

#form {
   margin-top: 20px;
}
#contact {
    background: #ffffff;
    padding: 20px;
    
}
#contact h1 {
    padding-bottom: 20px;
}
input[type=text], 
textarea {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 16px;
}
input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
} 

/* There rules take effect when the browser's width is 
either 980px or less.
*/
@media screen and (max-width: 980px) {

.container,
.contact-container,
.photo-container {
    width: 600px;
    margin-left: 5%;
    line-height: 200%;      
}     
.header-container {
    width: 90%;
    padding: 0 0 2% 0;
}
h1 {
    font-weight: bold;
    margin-bottom: 0;
}
.header-box {
    width: 40%;
    padding: 2.25%;
}
#bio-image {
    height: 95%;
}
#portrait,
#block {
    width: 90%;
    
}
#portrait {
    height: 70%;
    margin: 8% 0 1% 0;
}
.text-block {
    bottom: 10%;
}

input[type=text], 
textarea {
    margin-top: 0;
    margin-bottom: 0;
}
#form {
    height: 5%;
}
header {
    padding: 0 0 2% 0;
}
.anchors {
    padding: 1% 0 0 0;
}




}





/* These rules take effect when the browser's width is
either 768px or less.
*/
@media screen and (max-width: 768px) {

.container, 
.contact-container,
.photo-container {
    width: 720px;
    margin-left: 2%;
    line-height: 200%;   
}
.header-container {
    width: 96%;
}     
.header-box {
    width: 45%;
    padding: 2.4%;
}
#bio-image {
    width: 50%;
}
header {
    border-bottom: 2px solid #cccccc;
    
}
h1 {
    margin-bottom: 2%;
}
#portrait {
    width: 75%;
    height: 60%;
    margin-bottom: 3%;
    margin-top: 3%;
}
#block {
    width: 75%;
}
.text-block {
    bottom: 15%;
    padding: 2% 0 2% 0;
}




}






/* These rules take effect when the browser's width is 
either 640px or less.
*/
@media screen and (max-width: 640px) {

.container {
    width: 600px;
    
}
.photo-container {
    width: 575px;
    margin: auto;
    margin-top: 15%;
}
.header-container {
    float: left;
    width: 100%;       
}
header {
    position: static;
    border-bottom: none;
}
.anchors {
    position: static;
    float: left;
    width: 100%;
    background: #ffffff;
    text-align: center;
    padding: 3%;
    margin-bottom: 4%;
}
.header-box {
    clear: both;
    width: 100%;
    padding: 4%;
    margin-bottom: 0;
}
.primary-footer-1 {
    position: static;
    padding: 5%;
}
.contact-container {
    margin-top: 18%;
    
}
input[type=text],
textarea {
    margin: 1% 0 2% 0;
}
.column-1-6 {
    width: 100%;
    display: block;
}
.column-2-6 {
    width: 100%;
    float: left;
}
#portrait {
    width: 100%;
    margin-bottom: 3%;
    margin-top: 3%;
}
#block {
    width: 100%;
}
.text-block {
    bottom: 15%;
    padding: 3% 0 3% 0;
}

}
    


